.app {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: auto;
  }
  
  .math-game {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    margin-right: 10px;
  }
  
  .stop-button {
      background-color: red;
      color: white;
  }
  